#InitialLetter {
    padding-top: 0%;
    padding-bottom: 10%;
    padding-right: 0%;
    padding-left: 0%;
    margin: 0%;
    position: relative;
    width: 50%;
    left: 25%;
    right: 25%;
    background-color: rgba(0, 0, 0, 0);
}

#InitialLetterImg {
    display: block;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
}

#InitialLetterEffect {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
}