@font-face {
  font-family: DejaVuSans;
  font-weight: bold;
  src: local('DejaVuSans'), url(./fonts/DejaVuSans/DejaVuSans-Bold.ttf) format('truetype');
}

@font-face {
  font-family: DejaVuSans;
  font-weight: bold;
  font-style: oblique;
  src: local('DejaVuSans'), url(./fonts/DejaVuSans/DejaVuSans-BoldOblique.ttf) format('truetype');
}

@font-face {
  font-family: DejaVuSans;
  font-weight: lighter;
  src: local('DejaVuSans'), url(./fonts/DejaVuSans/DejaVuSans-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: DejaVuSans;
  font-style: oblique;
  src: local('DejaVuSans'), url(./fonts/DejaVuSans/DejaVuSans-Oblique.ttf) format('truetype');
}

@font-face {
  font-family: DejaVuSans;
  src: local('DejaVuSans'), url(./fonts/DejaVuSans/DejaVuSans.ttf) format('truetype');
}

@font-face {
  font-family: DejaVuSans;
  font-weight: bolder;
  src: local('DejaVuSans'), url(./fonts/DejaVuSans/DejaVuSansCondensed-Bold.ttf) format('truetype');
}

@font-face {
  font-family: DejaVuSans;
  font-weight: bolder;
  font-style: oblique;
  src: local('DejaVuSans'), url(./fonts/DejaVuSans/DejaVuSansCondensed-BoldOblique.ttf) format('truetype');
}

@font-face {
  font-family: DejaVuSans;
  font-weight: bolder;
  src: local('DejaVuSans'), url(./fonts/DejaVuSans/DejaVuSansCondensed.ttf) format('truetype');
}

#TextClicks {
  color: palevioletred;
  font-family: DejaVu, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

#root {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

#InitialLetterImg {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100px;
  height: auto;
}

#InitialLetterContainer {
  background-color: transparent;
  color: transparent;
}

#SeccionCarta {
  position: relative;
  margin: auto;
  border-radius: 20px;
  width: 60%;
}

p {
  font-family: DejaVu;
  font-style: italic;
  color: black;
  background-color: transparent;
}

img {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 60%;
  height: auto;
  margin: auto;
}

div {
  margin: auto;
}

* {
  background-color: aliceblue;
}